<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Explore Byte Tutorial</title>
    
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="css/main.css" rel="stylesheet">
  </head>
  
  <body role="document">
    <div class="container theme-showcase" role="main">
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
		<h1>Education Spending in Different Regions</h1>
        <p>Data Pipeline Project Byte1 </p> 
      </div>
      <div class="span12"> 
		<h2>Guiding Question</h2>
		<h4>As we all know, educational resources are unevenly distributed between different regions all around the world. Education spending is one of the key factors to evaluate one nations' education resources.
		In this project byte, I hope to learn about how nations in different regions (e.g, Western and Estern) differ in education spending. 
		<h2>Method</h2>
 	  
 	 <h4> To answer my question, I used an open dataset from  <a href="https://www.theguardian.com/news/datablog/2012/sep/11/education-compared-oecd-country-pisa">theguardian.com</a> that has been published by Pisa and The Organisation for Economic Co-operation and Development (OECD). 
 	 The dataset provides education spending data from 38 countries all around the world. I think this dataset can be effective to answer my question.
 	 First, I want to make a general, descriptive comparison between countries. 
		Then, I want to know how different countries spend their money on specific areas such as teacher's salary and students. Moreover, I hope to explore a little bit more on the relationship between the public and private investments on education. During the data analysis (mostly 
		descriptive) and visualization process, I used google fusion table and spreadsheets</h4>
</h4>
 	  </div>
 	   <h2>Result 1</h2>
 	   <h4>Here are some results regarding the spending on students. the distribution of countries that spend more on students. The Google intensive map shows the distribution of countries that spend the most on students (per each). Also, top 5 countries amount the 38 are marked with red icons.They are 
 	   United State, Austria and Western Europe.(Please open the website if you can not see all the google maps in preview.) These google maps indicate that western contries invest more on students (per person) in general. </h4>
 	   
     <iframe width="550" height="400" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?viz=GVIZ&amp;t=MAP&amp;gco_region=world&amp;gco_dataMode=regions&amp;containerId=googft-gviz-canvas&amp;q=select+gvizcountry(col0)%2C+col2%2C+col0+from+1CJtjXRCgn3o7X-KDQ69dsSXJ2ioYuC-jZFEadJkR&amp;qrs=+where+gvizcountry(col0)+%3E%3D+&amp;qre=+and+gvizcountry(col0)+%3C%3D+&amp;qe=+limit+38&amp;att=true&amp;width=1000&amp;height=585"></iframe>	
     <iframe width="550" height="400" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col1+from+1CJtjXRCgn3o7X-KDQ69dsSXJ2ioYuC-jZFEadJkR&amp;viz=MAP&amp;h=false&amp;lat=47.87073390188577&amp;lng=-3.209019249999983&amp;t=1&amp;z=2&amp;l=col1&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG"></iframe>
     
 	      <div class="span12"> 
		<h4>to be more specific, the below bar graph shows the money spend per students and teachers' salary in each country.
		The result 1 indicate that western contries invest more on students(per person) and teachers' salary (perhaps related to their
		education policies). However, it is still not clear where does the money come from. It could be from the government or private resources.
		We will appoarch to this question in the following analysis. </h4>
 	  </div>
      <iframe width="933.5" height="560.521" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1jqJ0fQuUG7Ci3mE0ckP0cd2M_6Rd344RTsd1pn2SuMw/pubchart?oid=1535080684&amp;format=interactive"></iframe>   <div class="span12"> 
		
 	    <div class="span12"> 
		<h2>Result 2</h2>
		<h4>Scater graphs show the relationship between public spending, private spending and spending per students. Although there are no significant tests, the result indicate that publich spending has a positive correlation with spending per student and nagetive correlation with private spending.
		 </h4>
 	  </div>
 	 <iframe width="937" height="427.506" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1jqJ0fQuUG7Ci3mE0ckP0cd2M_6Rd344RTsd1pn2SuMw/pubchart?oid=849255082&amp;format=interactive"></iframe>
 	 <iframe width="937.011" height="471.506" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1jqJ0fQuUG7Ci3mE0ckP0cd2M_6Rd344RTsd1pn2SuMw/pubchart?oid=1457286286&amp;format=interactive"></iframe> <h2>Limitations</h2>
 	 <h4> I have very limited coding experience. I tried hard, however, there are still some questions remaining. I did not figure out how to use google apps (spread sheets and fusion) to conduct significance analysis. 
 	 Thus, the correlation between can only be inffered in my plot but had no statistic significance. It could be done with another software and saved as images but I did not figure it out that how to make it "interactive".</h4>
		  </div>

    </div> <!-- /container -->
   
</body>
</html>
